body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.card img{
  height: 200px;
  width: 200px;
}

.forum img {
  height: 300px;
  width: 300px;
}
.reply img {
  height: 300px;
  width: 300px;
}
.modal-footer {
  justify-content: flex-start;
}

.active-btn{
  color: blue;
}